

/* COLORES DISPONIBLES */
.green { background: #8FBE00; }
.red { background: #E22D2D; }
.blue { background: #008C9E; }
.yellow { background: #F8CA00; }
.grey { background: #494849; }
.pink { background: #ff00d4; }
.white { background: #fff; }
.black { background: #191919; }

body{
  background: linear-gradient(#9084fd, rgb(221, 215, 250))
}

#main-board {
  background-color: #f87a03bb;
  border-radius: 15px 15px 15px 15px;
  height: 875px;
  width: 500px;
  border: #191919;
  border-style: double;
  margin: 2vh auto;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.808);
}

hr{
  width: 70%;
  border: inset;
}

h1{
  text-align: center;
  margin-top: 5%;
  text-decoration: underline;
  text-decoration-style: double;

}

#board{
  padding-left: 30%;
  padding-right: 25%;
}

.token {
 
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-flex;
  border: 0.5px solid rgba(0, 0, 0, 0.589);
  align-items: center;
 
}

#secret {
  display: table;
  margin: 23px auto;
  margin-top: 10%;
}

.tokenSecret.hide{

background-image: url("../img/top_secret.png");
background-repeat: no-repeat; 
background-size: 100px;


}

.tokenSecret {
  flex: auto;
  margin-left: 20px;
  flex-direction: row;
}



.tokenSelectable {
  flex: auto;
  margin-left: 6px;
  flex-direction: row;
}

.tokenSelectable:hover {
  border: 2px solid white;
}

#options{
  display: table;
  margin: 23px auto;
}

  .table {

    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    order: 4;
  }